.recipe-detail {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto; 
    position: relative; 
  }
  
  .recipe-detail h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .recipe-detail img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .recipe-detail h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
  }
  
  .recipe-detail ul {
    padding-left: 20px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .recipe-detail li {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .go-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .go-back svg {
    margin-right: 8px; 
  }
  
  footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  